//---------- Color Palette
$color_dark_blue: rgba(#21759C, 1);
$color_light_blue: rgba(#00C9C3, 1);
$color_red: rgba(#FF5D5F, 1);
$color_white: rgba(#FAFAFA, 1);
$color_less_white: rgba(#F9F9F9, 1);

$color_background-body: rgba(230, 230, 230, 1);
$color_storm_dust_30_approx: rgba(100, 100, 100, 0.3);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$color_tundora_approx: rgba(68, 68, 68, 1);
$color_mine_shaft_approx: rgba(51, 51, 51, 1);
$color__text-screen: rgba(255, 249, 192, 1);
$color__background-screen: rgba(204, 204, 204, 1);
$color_storm_dust_approx: rgba(99, 99, 99, 1);
$color_concord_approx: rgba(124, 124, 124, 1);
$wild_sand: rgba(244, 244, 244, 1);
$color_quill_gray_approx: rgba(210, 210, 210, 1);
$color_cape_cod_10_approx: rgba(64, 64, 64, 0.1);
$color_chicago_approx: rgba(94, 94, 94, 1);
$color_cararra_approx: rgba(235, 235, 235, 1);
$color_alabaster_approx: rgba(249, 249, 249, 1);
$color_tapa_approx: rgba(117, 117, 117, 1);
$color_bon_jour_approx: rgba(225, 225, 225, 1);
$color_pumice_approx: rgba(198, 198, 198, 1);
$color_jelly_bean_approx: rgba(33, 117, 155, 1);
$color_matisse_approx: rgba(31, 111, 147, 1);
$color__link-hover: rgba(57, 169, 224, 1);
$color__link: rgba(59, 89, 152, 1);
$color__link-visited: rgba(0, 99, 219, 1);
$color_valencia_approx: rgba(209, 72, 54, 1);
$color_astral_approx: rgba(63, 114, 155, 1);
$color_rhino_approx: rgba(44, 71, 98, 1);
$black_20: rgba(0, 0, 0, 0.2);
$color_gallery_approx: rgba(237, 237, 237, 1);
$color__text-main: rgba(153, 153, 153, 1);
$color_robins_egg_blue_approx: rgba(0, 201, 195, 1);
$color_fuscous_gray_approx: rgba(81, 81, 81, 1);
$color_baltic_sea_approx: rgba(43, 43, 43, 1);
$color_apple_approx: rgba(65, 166, 42, 1);
$color_dove_gray_approx: rgba(106, 106, 106, 1);
$alabaster: rgba(250, 250, 250, 1);
$color_ironside_gray_approx: rgba(104, 104, 104, 1);
$color_carnation_approx: rgba(255, 93, 95, 1);
$mercury: rgba(229, 229, 229, 1);
$color_eastern_blue_approx: rgba(39, 158, 191, 1);
$color_astronaut_approx: rgba(45, 67, 114, 1);
$color_tall_poppy_approx: rgba(181, 53, 37, 1);
$color_trout_approx: rgba(77, 82, 90, 1);
$color_tuna_approx: rgba(46, 53, 66, 1);
$color_hawkes_blue_approx: rgba(210, 224, 249, 1);
$color_perano_approx: rgba(168, 191, 232, 1);
$color_fiord_approx: rgba(74, 84, 102, 1);
$color_gunsmoke_approx: rgba(132, 132, 132, 1);
$gallery: rgba(239, 239, 239, 1);
$color_lochmara_approx: rgba(0, 136, 208, 1);
$color_cerulean_approx: rgba(0, 156, 238, 1);
$color_red_approx: rgba(255, 0, 0, 1);
$color__background-pre: rgba(170, 170, 170, 1);
$color__border-abbr: rgba(170, 170, 170, 1);
$color__background-ins: rgba(170, 170, 170, 1);
$color__background-hr: rgba(170, 170, 170, 1);
$color__border-button: rgba(170, 170, 170, 1);
$color__background-button: rgba(170, 170, 170, 1);
$color__border-button-hover: rgba(170, 170, 170, 1);
$color__border-button-focus: rgba(170, 170, 170, 1);
$color__text-input: rgba(170, 170, 170, 1);
$color__border-input: rgba(170, 170, 170, 1);
$color__text-input-focus: rgba(170, 170, 170, 1);