.archive-header {
font-size: 30px;
    //border: 1px solid red;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 30px;
    font-stretch: ultra-condensed;
    
    span {color: #666;}
}    